<h1>ReportBot</h1>
<p>
<%= link_to 'Auszubildende erinnern', :controller => "report_bot", :action => "unwritten" %><br>
<%= link_to 'Ausbilder erinnern', :controller => "report_bot", :action => "unchecked" %>
</p>
