<h1>ReportBot#unchecked</h1>
<p>Find me in app/views/report_bot/unchecked.html.erb</p>
<br>
<br>
anz instructoren: 
<%= @debug_num %><br>
anz azubis insg: 
<%= @debug_num2 %><br>
anz reports insg: 
<%= @debug_num3 %><br>
<%= @instructors %>
