<h1>ReportBot</h1>
<p>
  <%= "Es wurden Benutzer mit dem Recht Berichte zu bewerten daran erinnert, dass sie noch Berichte pr체fen m체ssen, die schon l채nger vorgelegt sind, als es der konfigurierte Zeitraum ("%>
  <%=ReportBotController.instructor_period/(1.days) %>
  <%= " Tage) vorsieht." %>
  <br><br>
  <%= link_to 'zur체ck', report_bot_show_path, :class => 'main' %>
</p>
