<%= form_tag({:controller => "report_template_entries", :action => "update"}, :method => "put", :class => "edit_report_form") %>

  <%=raw @displayCode %>

  <br />
  <br />
  
  <div class="actions">
  <%= submit_tag "Änderungen speichern" %>
  <%= link_to 'Zurück', reports_path %>
  </div>
  
