<script>
  var clickedSubmit = false;

  function formIsDirty() {
    var inputs = document.getElementsByTagName('input');
    var unfinished = false;
    for (var i=0; i<inputs.length; ++i) {
      if (inputs[i].value != inputs[i].defaultValue) {
        unfinished = true;
      }
    }
    return unfinished;
  }

  window.onbeforeunload = function(e){
    e = e || window.event;
    if (!clickedSubmit && formIsDirty()) {
      return 'Sie haben ungespeicherte Änderungen, wollen Sie die Seite wirklich verlassen?';
    }
  }
</script>

<%= form_tag({:controller => "report_template_entries", :action => "update"}, :method => "put", :class => "edit_report_form") %>

  <%=raw @displayCode %>

  <br />
  <br />

  <div class="actions">
  <%= submit_tag "Änderungen speichern", :onclick => "clickedSubmit = true;" %>
  <%= link_to 'Zurück', reports_path, :class => 'main' %>
  </div>

