<h1>Rechte-Profil bearbeiten</h1>
<br>
<h2 span style="color:#FF0000">Das Ver채ndern von Rechte-Profilen kann die Funktionalit채t des Systems beeintr채chtigen!</h2>

<%= render 'form' %>

<br />

<%= link_to 'Zur체ck', roles_path, :class => 'main' %>
