<h1> Verwaltung der Rechte-Profile </h1>

<br />
<table>
  <tr>
  <th>Rechte-Profil</th>
  <th> </th>
  <th> </th>
  </tr>

  <% @roles.each do |r| %>
  <tr>
  <td class="center"> <%= r.name %></td>
  <td> <%= link_to 'Bearbeiten', edit_role_path(r)%></td>
  <% if r.id > 3 %>
  <td> <%= link_to 'Entfernen', role_path(r), :confirm => 'Sind Sie sicher?', :method => :delete %></td>
  <% else %>
    <td> - </td>
  <% end %>
  </tr>
  <% end %>
</table>

<br />

<%= link_to 'Rechte-Profil anlegen', new_role_path %>
