<h1> Verwaltung der Rechte-Profile </h1>

<br />
<table class="main">
  <tr class="main">
  <th class="main">Rechte-Profil</th>
  <th class="main"> </th>
  <th class="main"> </th>
  </tr>

  <% @roles.each do |r| %>
  <tr class="main">
  <td class="center"> <%= r.name %></td>
  <td class="main"> <%= link_to 'Bearbeiten', edit_role_path(r)%></td>
  <% if r.id > 3 %>
  <td class="main"> <%= link_to 'Entfernen', role_path(r), :confirm => 'Sind Sie sicher?', :method => :delete %></td>
  <% else %>
    <td class="main"> - </td>
  <% end %>
  </tr>
  <% end %>
</table>

<br />

<%= link_to 'Rechte-Profil anlegen', new_role_path %>
