<html>
<head>
</head>
<body>
  <%= form_for @status, :url => review_path, :method => :put do |f| %>
    <%= f.label "Kommentar:" %><br />
    <%= f.text_area :comment, :size => "50x20" %><br />
    <%= f.submit('Bericht ablehnen') %>
  <% end %>

</body>
</html>
